<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
      />
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="description" content=""/>
	<title>lichess Review</title>
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">lichess Review</a>
      <div class="navbar">
		<div class="navbar-nav">
          <a class="nav-link active" href="/"> Home</a>
          <a class="nav-link" href="/browse">Browse Data</a>
          <a class="nav-link" href="/stats">Statistics</a>
          <a class="nav-link" href="/about">About</a>
		</div>
      </div>
	</nav>
	
	<h3>Welcome to lichess Review!</h3>
	<p>lichess Review is a very basic web app that has been designed for a user to manipulate data from a lichess dataset of <strong><%= totalGames %></strong> matches!</p>
	<p>To start, click on 'Browse Data' above to see some of the matches that have been imported into this web app.</p>

	<h4>Random Match</h4>
	<p>Here's a random match from the dataset:</p>
	<ul>
	<% randomGame.forEach(function (game) { %>
	<li>Lichess Match ID: <a href="https://lichess.org/<%= game.match_id %>"><%= game.match_id %></a></li>
	<li>White ID: <%= game.white_id %></li>
	<li>White Rating: <%= game.white_rating %></li>
	<li>Black ID: <%= game.black_id %></li>
	<li>Black Rating: <%= game.black_rating %></li>
	<li>Turns Played: <%= game.turns %></li>
	<li>Winner:<%= game.winner %></li>
	<li>Victory Status:<%= game.victory_status %></li>
	<% }); %>
	</ul>
	<%- include("common/footer"); -%>
  </body>
</html>
