<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
      />
	<link rel="stylesheet" href="stats.css">
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta name="description" content=""/>
	<title>lichess Review - Statistics</title>
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">lichess Review</a>
      <div class="navbar">
		<div class="navbar-nav">
          <a class="nav-link" href="/"> Home</a>
          <a class="nav-link" href="/browse">Browse Data</a>
          <a class="nav-link active" href="/stats">Statistics</a>
          <a class="nav-link" href="/about">About</a>
		</div>
      </div>
	</nav>
	
	<table>
	  <tr>
		<th>Total Games in Database</th>
		<td><%= totalGames %></td>
	  </tr>
	  <tr>
		<th>Average White Rating</th>
		<% aggCursor.forEach(rating => { %>
		<td><%= rating.white_rating / totalGames %></td>
		<% }); %>
	  </tr>

	  <tr>
		<th>Average Black Rating</th>
		<% aggCursor.forEach(rating => { %>
		<td><%= rating.black_rating / totalGames %></td>
		<% }); %>
	  </tr>
	  <tr>
		<th>Average Turns</th>
		<% aggCursor.forEach(rating => { %>
		<td><%= rating.turns / totalGames %></td>
		<% }); %>
	  </tr>
	  <tr>
		<th>% Ranked Games</th>
		<td><%= percentRated %>%</td>
	  </tr>

	  
	</table>


	<%- include("common/footer"); -%>
  </body>
</html>
